data/profanity_en.csv
__pycache__/

model/debertalarge/*
model/debertav3base/*
model/debertav3large/*
model/debertav3small/*
model/debertav3xsmall/*
model/robertalarge/*

nig/*
weights/17_ft1/*
weights/17_ft103/*
weights/19_ft1/*
weights/19_ft103/*
weights/20_ft1/*
weights/20_ft103/*

t.bat